node_modules
.idea

#Hardhat files
cache
artifacts

.env

usingusdc.sol
test.sol
sss.sol
ddd.soldsdd.txt
maintest.txt
ddd.txt
dsdd.txt
maintest.txt

address.js
all.js
amount.js
check.js
checkqual.js
duration.js
newamount.js
startin.js
time.js
